<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add-card" method="post" enctype="multipart/form-data">
        <input type="text" name="birdId" placeholder="Enter Id of the Bird">
        <input type="text" placeholder="Enter Bird Name" name="birdName" required>
        <input type="number" placeholder="Enter Price of Bird" required name="birdPrice">
        <input type="text" placeholder="Enter Gender of Bird" required name="birdGender">
        <input type="file" name="birdImage" >
        <button type="submit">ADD-Data</button>
    </form>
</body>
</html>