.cont {
    width: 98vw;
    margin-left: 0.4rem;
}

.gal1 {
    width: 46vw !important;
    margin-left: 1rem;
}

.gal2 {
    width: 46vw !important;
}

.elevation {
    border: 2px #ffffff solid;
    box-shadow: 9px 5px 8px #aaaaaa;
    border-radius: 0.7rem;
}