.card-container{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    overflow-y: hidden !important;
    margin-top: 1.5rem;
}

.card-1{
    width: auto;
    height: 18rem;
    margin-left: 1rem;
    background: white;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.card1-margin{
    margin-left: 0rem;
}

.container-1{
    width: 100vw;
    background-color: #F7F7F7;
    height: auto;
    overflow-x: hidden;
    margin-top: 3rem;
}

.card-img{
    width: 16.2rem;
    filter: brightness(0.9);
    border-radius: 2px;
    height: 11rem;
}

.card-img:hover{
    filter: brightness(1);
}

.card-text-container{
    display: flex;
    flex-direction: column;
}

.card-mid{
    display: flex;
    flex-direction: row;
}

.sale{
    margin-left: 2.3rem;
    margin-top: 0.8rem;
    background: #2ECA6A;
    width: 2.5rem;
    color: white;
    text-align: center;
    height: 1.5rem;
}

.agent-name{
    color: #666666;
    line-height: 21px;
    font-family: "Nunito Sans", sans-serif;
    margin-left: 1rem;
}

.up-date{
    color: #666666;
    line-height: 21px;
    font-family: "Nunito Sans", sans-serif;
    margin-left: 0.8rem;
}

a{
    text-decoration: none;
}

.text-header{
    font-weight: bold;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 1.3rem;
}

.house-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-size: medium;
}

.location-logo{
    height: 0.8rem;
    width: 0.8rem;
}

.c-text{
    margin-left: 0.4rem;
    font-family: "Nunito Sans", sans-serif;
}


.c-footer > a{
    text-decoration: none;
}

.buy-btn{
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: transparent;
    width: 6rem;
    color: black;
    height: 2rem;
    border: 3.2px solid #00D4FF;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.price{
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    font-family: "Nunito Sans", sans-serif;
    margin-left: 3.3rem;
}
.unit{
    display: inline-block;
    font-size: smaller;
    font-weight: 100;
    font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width:555px) {
    .card-container{
        /* height: auto !important; */
        width: 100vw;
    }
    .card-1{
        margin-left: 0;
    }
}

@media screen and (min-width:555px) and (max-width:600px) {
    .card-1{
        margin-left: 2rem;
    }
    /* .card-container{
         height: 97rem; 
    } */
}

@media screen and (min-width:633px) and (max-width:676px) {
    .card-1{
        margin-left: 2rem;
    }
    /* .card-container{
         height: auto; 
    } */
}

@media screen and (min-width:676px) and (max-width:950px) {
    /* .card-container{
         height: auto; 
    } */
    .card-1{
        margin-left: 2rem;
    }
}

@media screen and (min-width:950px) and (max-width:1200px) {
    .card-container{
        width: 64vw !important;
        /* height: a; */
        margin-top: 0.5rem
    }
    .card-1{
        margin-left: 2rem;
    }
}